.registration-main {
  position: relative;
}

.searching-opponents {
  padding-top: 115px;
  color: #ffffff;
  position: relative;
  z-index: 999;
  h3 {
    margin-top: 15px;
  }
  .left-arrow-back-container {
    text-align: left;
  }
  .flex {
    flex-direction: column;
    margin-top: -39px;
    img {
      margin: 53px 0 63px 0;
    }
    .white-button-cancel {
      width: 153px;
      height: 52px;
    }
  }
  a.left-arrow-back-container,
  .white-button-cancel {
    margin-left: 0;
  }
}

.bg-searching-opponents {
  background: url(../img/ellemets.png) center center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: 100% 80%;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(22, 151, 247, 0.54);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
  h3 {
    font-size: 26px;
    color: #000000;
  }
  .button-flex {
    display: flex;
    justify-content: center;
    margin-top: 23px;
    a {
      display: block;
      color: #000000;
      width: 155px;
      height: 50px;
      border-radius: 25px;
      text-align: center;
      line-height: 50px;
      transition: all 0.3s;
      &:hover {
        width: 155px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 3px 6.4px 0.6px rgba(18, 64, 107, 0.13),
          inset 0px 2px 0 0 #58b9ff;
        background-color: #1ea9ff;
        color: #ffffff;
      }
    }
  }
}

.modalDialog:target {
  display: block;
  pointer-events: auto;
}

.modalDialog > div {
  position: relative;
  //margin: 25% auto;
  width: 473px;
  height: 163px;
  border-radius: 24px;
  box-shadow: 0px 11px 24.8px 2.2px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  padding: 39px 35px 26px 35px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

//pause
.pause-button {
  display: flex;
  a {
    display: block;
    width: 161px;
    height: 52px;
    line-height: 52px;
    white-space: nowrap;
  }
  .back-personal-cabinet {
    color: #ffffff;
    transition: all 0.3s;
    border-radius: 25px;
    line-height: 52px;
    &:hover {
      text-align: center;
      border-radius: 25px;
      box-shadow: 0 3px 6px 1px rgba(18, 64, 107, 0.13), inset 0 2px 0 #58b9ff;
      border-radius: 25px;
      background-color: #008dfe;
      color: #ffffff;
    }
  }
}

.left-arrow-back {
  background: url(../img/icon_left-arrow-white.png) center center no-repeat;
  width: 37px;
  background-size: contain;
  margin-top: 22px;

  &:after {
    content: "Back";
    margin-left: 50px;
    color: #ffffff;
    font-size: 18px;
  }
}

@media all and (max-width: 1024px) {
  .searching-full-screen {
    min-height: 1374px;
  }
  .searching-opponents {
    padding: 25% 40px 0 40px;
  }
  .bg-searching-opponents {
    background-size: 133% 46%;
  }
}

// @media all and (max-width: 829px) and (orientation: landscape) {
//   .bg-searching-opponents {
//     background-size: 117% 23%;
//     background-position-y: top;
//     top: 49px;
//   }
//   .searching-opponents {
//     padding-top: 2%;
//     .flex {
//       img {
//         width: 260px;
//         height: 181px;
//         margin-bottom: 34px;
//       }
//       .white-button-cancel {
//         width: 87px;
//         height: 30px;
//         line-height: 30px;
//         font-size: 13px;
//       }
//     }
//   }
//   .pause-button {
//     a,
//     a.back-personal-cabinet {
//       width: 115px;
//       height: 30px;
//       line-height: 30px;
//       font-size: 13px;
//     }
//   }
// }
// @media all and (max-width: 570px) and (orientation: landscape) {
//   .searching-opponents {
//     padding-top: 2%;
//     .left-arrow-back:after {
//       font-size: 16px;
//     }
//     .flex {
//       h3 {
//         font-size: 16px;
//       }
//       img {
//         margin-top: 23px;
//       }
//     }
//   }
// }
@media (min-width: 2120px) {
  .searching-full-screen {
    min-height: 1310px;
  }
}
