.game-main {
  min-height: 581px;
  color: #ffffff;
  .result-of-game {
    //width: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 403px;
    padding-top: 3%;
    text-align: center;
  }
  .loose-img {
    z-index: 9;
    img {
      width: 299px;
      height: 403px;
    }
  }
  .result-of-game-text {
    width: 456px;
  }
  .game-result-coupon {
    font-size: 40px;
    line-height: 4;
  }
  a {
    display: inline-block;
  }
  .white-button {
    width: 230px;
    height: 52px;
    position: relative;
    z-index: 999;
    margin-left: 0;
  }
  .go-to-cabinet-button {
    color: #ffffff;
    text-align: center;
    height: 52px;
    line-height: 52px;
    position: relative;
    z-index: 999;
  }
}

.bg-result-of-game {
  background: url(../img/Ellements3.png) top center no-repeat;
  position: absolute; //left: 3%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: 85% 80%;
}

.bg-nobody-wins.bg-you-loose {
  img {
    &:nth-child(3) {
      margin-top: 31%;
    }
    &:nth-child(4) {
      top: -40%;
    }
    &:nth-child(5) {
      left: -13%;
    }
    &:nth-child(6) {
      margin-top: 37%;
      left: 28%;
    }
  }
}

@media all and (max-width: 1200px) {
  .bg-result-of-game {
    background-size: 101% 69%;
    left: 0;
  }
}

@media (min-width: 2120px) {
  .game-main .result-of-game {
    justify-content: center;
    padding-top: 23%;
  }
  .bg-nobody-wins.bg-you-loose {
    img {
      &:nth-child(3) {
        margin-top: 49%;
        right: -9%;
      }
      &:nth-child(4) {
        margin-top: 15%;
      }
      &:nth-child(5) {
        margin-top: 32%;
      }
      &:nth-child(6) {
        margin-top: 67%;
        left: 9%;
      }
    }
  }
}

@media all and (max-width: 1024px) and (max-height: 1366px) {
  .game-main .result-of-game {
    justify-content: center;
    padding-top: 25%;
  }
  .bg-nobody-wins.bg-you-loose img:nth-child(3) {
    margin-top: 68%;
  }
  .bg-nobody-wins.bg-you-loose img:nth-child(6) {
    margin-top: 82%;
    left: 33%;
  }
}

@media all and (max-width: 829px) and (orientation: landscape) {
  .game-main {
    .bg-you-loose {
      padding-top: 0;
    }
    .result-of-game {
      padding-top: 0;
    }
    .loose-img img,
    .win-img img {
      width: 130px;
      height: 175px;
    }
    .white-button,
    .go-to-cabinet-button {
      width: 109px;
      height: 29px;
      line-height: 29px;
      font-size: 10px;
    }
    .bg-nobody-wins.bg-you-loose img:nth-child(3) {
      margin-top: 5%;
    }
  }
}

@media all and (max-width: 731px) and (orientation: landscape) {
  .game-main .bg-you-loose img:nth-child(4) {
    margin-top: 47%;
  }
}

@media (max-width: 570px) and (orientation: landscape) {
  .game-main {
    .result-of-game {
      padding-top: 12%;
      align-items: flex-start;
    }
    .result-of-game-text {
      width: 350px;
    }
  }
}
